<!DOCTYPE html>
<head>


</head>
<form action="" method="POST">   
      <legend>Register Leave Application Form</legend>
    <h2>PART 1 (To be completed by Applicant)</h2>
<fieldset>
        <label for="name">First name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday"><br><br>
</fieldset>    
<table>
    <fieldset>
        <label for="Annual">Annual:</label>
        <input type="text" id="Annual" name="Annual">
        <label for="child">Child Care:</label>
        <input type="text" id="child" name="child">
        <label for="co">Compassionate:</label>
        <input type="email" id="co" name="co"><br>
        <label for="co">Maturity:</label>
        <input type="email" id="co" name="co">
        <label for="co">Exam:</label>
        <input type="email" id="co" name="co">
        <label for="co">Off-in-Lieu:</label>
        <input type="email" id="co" name="co">
        
    </fieldset>
</table>
<a href=  "{{url_for('database')}}" onclick="{{url_for('submit')}}">Submit</a>  

 


    
